[submodule "arc_PsychophysicsAnalysis"]
	path = arc_PsychophysicsAnalysis
	url = https://github.com/sussex-colour-group/arc_PsychophysicsAnalysis.git
[submodule "arc_ImageAnalysis"]
	path = arc_ImageAnalysis
	url = https://github.com/sussex-colour-group/arc_ImageAnalysis.git
[submodule "Sussex_nanoLambda"]
	path = Sussex_nanoLambda
	url = https://github.com/sussex-colour-group/Sussex_nanoLambda.git
[submodule "imageanalysis"]
	path = imageanalysis
	url = https://github.com/sussex-colour-group/imageanalysis.git
